@import play.mvc.Http.Request
@(searchResults: List[SearchResult], form: Form[Search])(implicit request: Request, messages: Messages)

@main("Youtube Search API") {

 <script src="@routes.Assets.versioned("javascripts/youtube.js")?v=2" type="text/javascript"></script> 
    <div class="s003">
    @helper.form(routes.HomeController.index()) {
        <div class="inner-form">
            <div class="input-field second-wrap">
                <input id="search" type="text" name="term" placeholder="Enter Search Keywords..." />
            </div>
            <div class="input-field third-wrap">
                <button class="btn-search" value="cool" type="submit" >
                    GO
                </button>
            </div>
        </div>
        
        
 <div class="s004">
        @for(sr <- searchResults) {
            <br/>
            <h1 class="center">Search Query is "@sr.getTerm"</h1>

			Click here to get the sentiments :- <a href="/similarity/@sr.getTerm">@sr.getTerm</a>
			<br>
			<br>
			<br>
            <table id="dtBasicExample" class="table table-striped" cellspacing="0" width="100%" style="text-align:center;">
                <thead>
                    <tr>
                    	<th class="th-sm">VID</th>
                        <th class="th-sm">Video Title</th>
                        <th class="th-sm">Owner</th>
                        <th class="th-sm">View_Count</th>
                        <th class="th-sm">time_lapsed</th>
                        <th class="th-sm">Similarity</th>
                        <th class="th-sm">Sentiment</th>
                        <!-- 
                        <th class="th-sm">Comments</th>
                        -->
                    </tr>
                </thead>
                <tbody>
                @for(i <- sr.getItems) {
                    <tr class="row">
                    	<td>@i.getVideoId</td>
                        <td>@i.getTitle</td>
                        <td>
                         <a href="channelInfo/@i.getChannelId">@i.getChannelTitle</a>
                        </td>
                        <td>@i.getViewsCount</td>
                        <td>@i.getDuration</td>
                        <td>@i.getSimilarity</td>
                        <td><!-- @i.getSentiment-->                        
                         @{
								  if (i.getSentiment== 0) {
								    <img src='assets/images/yellow_like.png'/>
								  } else if (i.getSentiment == 1) {
								    <img src='assets/images/green_like.png'/>
								  } else {
								    <img src='assets/images/red_like.png'/>
								  }
							}
                        </td>
                    </tr>
                }
            </table>
        }
    }
    </div>
    </div>
}
